<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Viheakode</title>
</head>
<body>


<div class="container">

    <div class="row justify-content-md-center">
        <div class="col col-lg-5">
        </div>
        <div class="col-md-auto">
            <a href="https://adm.viheakode.online/login" class="btn btn-primary">Login</a>
        </div>
        <div class="col col-lg-5">
        </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
        </div>
        <div class="col-md-auto">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/admin/image/photo_2025-09-28_10-15-03.jpg}" class="img-fluid" alt="...">
                </div>
            </div>

        </div>
        <div class="col col-lg-4">
        </div>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>